/* Main layout */
body {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 0.5em;
	color: #606c76;
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: .01em;
	line-height: 1.2;
}
article {
	display: flex;
}
	main {
		flex-grow: 1;
	}
	aside {
		padding-left: 20px;
		min-width: 200px;
	}
a {
	color: #3e82f7;
}
.soft {
	color: #bbb;
	font-weight: 300;
}

/* Reset algolia elements */
.ais-hits--item {
	float: left;
}

/* Reset default elements */
details summary {
	cursor: pointer;
}
details summary::-webkit-details-marker {
	display:none;
}
details > summary:first-of-type {
	list-style-type: none;
}

/* Components */
table {
	border-collapse: collapse;
}
	table th, table td {
		padding: 0 20px 10px 0;
	}
	table th {
		text-align: left;
		white-space: nowrap;
		vertical-align: top;
	}
	table ul {
		margin: 0;
		padding: 0;
	}
	table li {
		list-style: none;
	}

.hits {
	margin-top: 1em;
}
.hits:after {
  content: "";
  display: table;
  clear: both;
}
.game {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 0 10px 10px 0;
	overflow: hidden;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
}
@media only screen and (max-width: 640px) {
	.game {
		width: 125px;
		height: 125px;
	}
}
	.game .image {
		position: absolute;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: top;
		-webkit-filter: blur(5px);
		filter: blur(5px);
		z-index: -1;
	}
	.game img {
		margin: 1%;
		max-height: 98%;
		max-width: 98%;
		box-shadow: 2px 2px 10px black;
	}
.game-wrapper {
	position: relative;
}
	.game-details {
		background: white;
		position: absolute;
		top: 10px;
		left: 10px;
		width: 200%;
		padding: 10px 15px;
		border: 1px solid rgba(0,0,0,0.3);
		border-radius: 5px;
		box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
		z-index: 1;
	}
		.game-details h2 {
			margin: 0 0 0.5em;
			border-bottom: 1px solid rgba(0,0,0,0.1);
		}
		.game-details strong {
			background-color: #ffcdd2;
			color: #c62828;
		}
		.game-details .close {
			font-size: 2em;
			line-height: 1.35em;
			position: absolute;
			top: 0;
			right: 14px;
			cursor: pointer;
			pointer-events: all;
		}
		.game-details .close:hover {
			color: red;
		}

.search-box {
	margin-bottom: 1em;
}
aside h2 {
	margin-top: 0;
}
aside .clear-all {
	float: right;
	margin-bottom: 1em;
}
.facet {
	margin-bottom: 1em;
}
	.facet .ais-show-more {
		cursor: pointer;
		color: gray;
		font-size: 0.8em;
		margin-left: 2.3em;
	}
	.facet .ais-show-more:after {
		content: " »";
	}
