name: Update Algolia index with BGG data

on:
  schedule:
    - cron: '0 * * * *' # Runs every hour
  workflow_dispatch:
jobs:
  index:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Cache pip dependencies
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r scripts/requirements.txt
    - name: Run script if secret is set
      env:
        APIKEY: ${{secrets.APIKEY}}
      if: env.APIKEY != null
      run: |
        python scripts/download_and_index.py --apikey ${{env.APIKEY}}
